

<body class="bodybg-color">

<div   class="centerScreen p-grid p-flex-column ">
    <p-card header="ล็อคอิน" subheader="ยินดีต้อนรับ เข้าสู่ระบบเพื่อดูมีม" [style]="{width: '360px'}" styleClass="card border-warning mb-3" >
    
        <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <span class="p-float-label">
                            <input style="width: 100%;" pInputText id="float-input" type="text" [(ngModel)]="email"> 
                            <label for="float-input" >อีเมล</label>
                        </span>
                </div>
            </div>
        </div>

        <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                        <span class="p-float-label">
                            <input style="width: 100%;" id="float-input" type="password" pInputText [(ngModel)]="password"> 
                            <label for="float-input">รหัสผ่าน</label>
                        </span> 
                </div> 
            </div>  
        </div>
        <div class="p-fluid p-formgrid p-grid">
        
            <button pButton pRipple (click)="login()" type="button" label="เข้าสู่ระบบ" class="p-button-rounded p-button-warning" style="width: 100%;"></button><br><br>
            <p-button label="สมัครสมาชิกที่นี่" styleClass="p-button-link" routerLink="/register" ></p-button>
                           
        </div>
    </p-card>
</div>

</body>