
.centerScreen{
    position: absolute;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -180px;
}

/* .bodybg-color {
    background-color: rgba(134, 129, 98, 0.678);
} */

/* body{
    background-image: url('http://memthainode.comsciproject.com/image/158661463_429033868183209_1425152399941400518_n.jpg');
} */

