<app-header></app-header> <br>
<!-- <style>
    .centerScreen{
        position: absolute;
        top: 30%;
        margin-top: -150px;
        left: 35%;
        margin-left: -180px; 
    }
.body {
  margin:0 auto;
  width:800px;
}

</style>
<div   class="body p-grid p-flex-column ">
    <div class="profile-avatar">
    <p-card header="Profile" subheader="" [style]="{width: '100%'}" styleClass="p-card-shadow-24 bg-info"> 
        <p-avatar image="../../assets/images/Lisa.jpg" styleClass="p-mr-2" shape="circle" size=xlarge></p-avatar>
    </p-card></div> 
</div> -->

้<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <div class="card border-warning mb-3">
      <div class="card-header">
        <div class="pic">
          <img src="../../assets/images/Lisa.jpg" alt="">
        </div>
        <div class="p-fluid p-formgrid p-grid">
          <button pButton pRipple type="button" label="แก้ไขข้อมุลส่วนตัว" class="p-button-rounded p-button-warning" style="width: 50%;" ></button>
      </div>
        <!-- <div class="name">test</div>
        <div class="desc">test</div> -->
        <div class="name">{{name}}</div>
        <div class="desc">{{email}}</div>
        <!-- <a href="#" class="contact-btn">Contact Me</a> -->
      </div>
      <div class="card-footer">
        <div class="numbers">
          <div class="item">
            <span>1</span>
            Posts
          </div>
          <div class="border"></div>
          <div class="item">
            <span>2</span>
            Following
          </div>
          <div class="border"></div>
          <div class="item">
            <span>50</span>
            Followers
          </div>
        </div>
      </div>
    </div>
  </body>