<app-header></app-header> <br>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
	<div class="container">
    <div class="row"> 
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<div class="card">
                <div class="card-body" >
					<div class="row">
						<div class="col-sm-4">	<img  src="{{this.img}}" class="img-thumbnail" style="width: 100% \9; height: 180px;" alt="Cinque Terre" ></div>
						<div class="col-sm-4"><h3>Hi!!&nbsp;{{name}}</h3></div>
						<div class="col-sm-2" *ngIf="this.iduser!=this.id">
							<div *ngIf="this.checkF==0">
								<button pButton pRipple type="button" label="ติดตาม" class="p-button-raised p-button-warning" (click)="follow()"></button>
							</div>
							<div *ngIf="this.checkF==1">
								<button pButton pRipple type="button" label="ยกเลิกติดตาม" class="p-button-raised p-button-warning"  (click)="unfollow()"></button>
							</div>
							
						</div>
						<div class="col-sm-2">
							<div *ngIf="this.iduser==this.id">
							<!-- <div > -->
							<button type="button" pButton pRipple class="p-button-raised p-button-warning" label="Edit" routerLink="/edit"></button>
							</div>
						</div>
						
					</div>
				</div>
            </div>
		</div>
		<div class="col-sm-2"></div>
    </div>

	<br>
	
	<div class="row"> 
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<div class="row" *ngIf="(this.checkF==1)||(this.id==this.iduser)">
				<div  class="col-sm-3" *ngFor="let item of responseNew; let i = index"   > 
					
					 <img    
							src="{{item.image}}" 
							alt="thumbnail" 
							class="img-thumbnail"
  							style="width: 100% \9; height: 200px;"
                           
							(click)="showBasicDialog2(i)"
                        /> 
				</div>
			</div>
		</div>
		<div class="col-sm-2"></div>
    </div>


	<p-dialog header="Long Content" [(visible)]="displayBasic2" [style]="{width: '50vw'}"[baseZIndex]="10000">
		<div class="row" >
			<div class="col-sm-12">
				<div class="card ">
					<div class="card-header">
						<img class="img-thumbnail" src="{{this.img}}" alt="Logo" style="width:40px;">&nbsp;&nbsp;
						{{name}}
					</div>
					 <img
						src="{{this.imageshowclick[this.index]}}"
						class="card-img-top"
						alt="..."
					/>
					<!--<div class="card-body">
						<i class="bi bi-heart-fill"></i>&nbsp;&nbsp;
						<i class="bi bi-chat-left-dots-fill"></i>
						<p class="card-text">
						   {{item.caption}}
						</p>
					</div> -->
					<div class="card-footer text-muted">....</div>
				</div>
				<br>
			</div>
		</div>
		
		<ng-template pTemplate="footer">
			<p-button icon="pi pi-check" (click)="displayBasic2=false" label="Ok" styleClass="p-button-text"></p-button>
		</ng-template>
	</p-dialog>

 </div>
</body>
