<app-header></app-header> <br>
<style>
    .centerScreen{
        position: absolute;
        top: 30%;
        margin-top: -150px;
        left: 35%;
        margin-left: -180px; 
    }
.body {
  margin:0 auto;
  width:800px;
}


</style>
<!-- header="Login"  -->
<!-- <h1>สวัสดีโอม</h1> -->
<div   class="body p-grid p-flex-column ">
    <div class="profile-avatar">
    <p-card header="Profile" subheader="" [style]="{width: '100%'}" styleClass="p-card-shadow-24 bg-info"> 
        <p-avatar image="../../assets/images/Lisa.jpg" styleClass="p-mr-2" shape="circle" size=xlarge></p-avatar>
    </p-card></div> 
</div>
