<app-header></app-header> <br>

้<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <div class="container">
    <div class="row"> 
		<div class="col-2 text-center">
            <div class="card"> 
                    <p-button label="แก้ไขโปรไฟล์" styleClass="p-button-link" ></p-button>
            </div>
        </div>
		<div class="col-10 text-center">
			<div class="card ">
                <div class="card-body" >
                    <!-- <h1>{{iduser}}</h1>
                    <h1>{{name}}</h1>
                    <img  src="{{this.img}}" class="img-thumbnail" alt="Cinque Terre" > -->
					<input type="file" (change)="selectFile($event)">
					<button type="button" pButton pRipple class="p-button-raised" label="Upload" (click)="upload()" ></button>
				</div>
            </div>
		</div>
		<div class="col-sm-2"></div>
    </div>

	<br>

</div>
	


</body>
