<app-header></app-header><br>
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
    <p-toast position="bottom-left"></p-toast>
    
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    
                    <p-avatar image="{{img}}" styleClass="p-mr-2" size="large"   shape="circle"></p-avatar>&nbsp;
                    <button pButton pRipple type="button" style="width: 90%;" label="What's on your mind,{{name}}" class="p-button-rounded p-button-secondary" (click)="showBasicDialog()"></button>
                    <p-dialog header="สร้างโพสต์" [(visible)]="myDialog" [style]="{width: '50vw'}" [baseZIndex]="10000">
                        <div class="card">
                            
                        <!-- <label for="fname">คำบรรยายภาพ</label>&nbsp; -->
                    
                        <textarea rows="5" cols="30"  pInputTextarea   placeholder="What's on your mind,{{name}}"  
                        [(ngModel)]="caption" ></textarea>
                        <!-- <input type="text" pInputText id="float-input"  [(ngModel)]="caption"><br> -->
                        <!-- <input type="file" (change)="selectFile($event)">
                        <button type="button" (click)="upload()">Post</button> -->
                        <input style="display: none" type="file" (change)="selectFile($event)" #hiddenfileinput>
                        <button pButton pRipple (click)="hiddenfileinput.click()"  class="p-button-secondary p-button-text" label="เลือกรูป" ></button>
                        
                     </div>
                    <ng-template pTemplate="footer">
                        <button type="button"  style="width: 100%;" pButton pRipple class="p-button-rounded p-button-secondary" label="Post" (click)="upload()" ></button>
                    </ng-template>
                    </p-dialog>
                </div>
                
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-6"> <!--โพสต์-->
            <div class="row" >
                <div class="col-sm-12" *ngFor="let item of responseNew; let i = index">
                    <div class="card ">
                        <div class="card-header" >
                            <img routerLink="/profile/{{item.id}}" class="img-thumbnail" src="{{item.userimage}}" alt="Logo" style="width:40px;" >&nbsp;&nbsp;
                            {{item.name}}
                        </div>
                        <img
                            src="{{item.image}}"
                            class="card-img-top"
                            alt="..."
                        />
                        <div class="card-body">
                            <i class="bi bi-heart-fill"></i>&nbsp;&nbsp;
                            <i class="bi bi-chat-left-dots-fill"></i>&nbsp;&nbsp;
                        
                                <i *ngIf="this.item.id==this.iduser" class="bi bi-pen-fill" (click)="EditMyPost(item)"></i>
                            
                            <p class="card-text">
                               {{item.caption}}
                            </p>
                        </div>
                        <div class="card-footer text-muted">....</div>
                    </div>
                    <br>
                    
                </div>
            </div>
        </div> <!--โพสต์-->
        <div class="col-sm-3">
            <div class="card ">
                <div class="card-header">Featured</div>
                <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">
                    With supporting text below as a natural lead-in to additional content.
                </p>
                <a class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-muted">2 days ago</div>
            </div>
        </div>
    </div>


    <p-dialog header="แก้ไขโพสต์" [(visible)]="displayEditPost" [style]="{width: '50vw'}" [baseZIndex]="10000">
        <ng-template pTemplate>
            <input type="text" pInputText id="float-input" [(ngModel)]="caption">
            <!-- <h1>{{this.itemEdit.caption}}</h1> -->
            <p-button icon="pi pi-check" (click)="Editcaption()" label="Ok" styleClass="p-button-text" ></p-button>
            <p (click)="DeletePost()">ลบโพสต์</p>
        </ng-template>
        
    </p-dialog>

</body>