<app-header></app-header>
<style>
    .centerScreen{
        position: absolute;
        top: 50%;
        margin-top: -150px;
        left: 50%;
        margin-left: -180px;
    }

</style>
<div class="centerScreen p-grid p-flex-column ">
<p-card header="" [style]="{'width': '25rem', 'margin-bottom': '2em'}" styleClass=" p-card-shadow-24 bg-info">
    <ng-template pTemplate="header">
        <p-avatar  image="../../assets/images/Lisa.jpg" size="large" shape="circle"></p-avatar>
          <!-- <img alt="Card" src="../../assets/images/Lisa.jpg"> -->
    </ng-template>
    <p>Test</p>
</p-card>
</div>
