

<div   class="centerScreen p-grid p-flex-column " (contextmenu)="noRightClick($event)" ondrop="return false;">
    <p-card header="สมัครสมาชิก" subheader="สมัครสมาชิกเพื่อเข้าสู่ระบบ" [style]="{width: '360px'}" styleClass="card border-warning mb-3">
        <!-- <div class="p-grid p-fluid ">
            <p-header><h1>Login</h1></p-header>
            
        </div> -->
        <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                        <span class="p-float-label">
                            <input style="width: 100%;" type="email" pInputText  (keyup)="KeyCode($event)" id=""  [(ngModel)]="email" > 
                            <label for="float-input">อีเมล</label>
                        </span>
                </div>
                <font color="red" *ngIf="this.checkerrorRegister==1">มีผู้ใช้อีเมลนี้แล้ว</font>
                <font color="red" *ngIf="this.check1==1">อีเมลห้ามมีช่องว่าง</font>
            </div>
        </div>

        <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <span class="p-float-label">
                            <input style="width: 100%;" pInputText (keyup)="KeyCode($event)" id="" type="text" [(ngModel)]="name"> 
                            <label for="float-input">ชื่อ</label>
                        </span>
                </div><font color="red" *ngIf="this.check2==1">ชื่อห้ามเป็นช่องว่าง</font>
            </div>
        </div>

        <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                        <span class="p-float-label">
                            <input pPassword style="width: 100%;" (keyup)="KeyCode($event)" id=""  type="password" pInputText [(ngModel)]="password"> 
                            <label  for="float-input">รหัสผ่าน</label>
                        </span> 
                </div> <font color="red" *ngIf="this.check3==1">รหัสห้ามเป็นช่องว่าง</font><br>
            </div>  
            <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" [(ngModel)]="cap">
            </ngx-recaptcha2> <font color="red" *ngIf="this.checkerrorcaptcha==1">กรุณายืนยันความเป็นมนุษย์</font><br>
        </div>
        <div class="p-fluid p-formgrid p-grid">
            <button pButton pRipple type="button" label="สมัคร" class="p-button-rounded p-button-warning" style="width: 100%;" (click)="register()"></button>
        </div>
    </p-card>
</div>