<style>
    .centerScreen{
        position: absolute;
        top: 50%;
        margin-top: -150px;
        left: 50%;
        margin-left: -180px;
    }

</style>

<div   class="centerScreen p-grid p-flex-column ">
    <p-card header="สมัครสมาชิก" subheader="สมัครสมาชิกเพื่อเข้าสู่ระบบ" [style]="{width: '360px'}" styleClass="card border-warning mb-3">
        <!-- <div class="p-grid p-fluid ">
            <p-header><h1>Login</h1></p-header>
            
        </div> -->
        <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                        <span class="p-float-label">
                            <input style="width: 100%;" pInputText id="float-input" type="email" [(ngModel)]="email"> 
                            <label for="float-input">อีเมล</label>
                        </span>
                </div>
            </div>
        </div>

        <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <span class="p-float-label">
                            <input style="width: 100%;" pInputText id="float-input" type="text" [(ngModel)]="name"> 
                            <label for="float-input">ชื่อ</label>
                        </span>
                </div>
            </div>
        </div>

        <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                        <span class="p-float-label">
                            <input pPassword style="width: 100%;" id="float-input"  type="password" pInputText [(ngModel)]="password"> 
                            <label  for="float-input">รหัสผ่าน</label>
                        </span> 
                </div> 
            </div>  
            <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" [(ngModel)]="cap">
            </ngx-recaptcha2> <br>
        </div>
        <div class="p-fluid p-formgrid p-grid">
            <button pButton pRipple type="button" label="สมัคร" class="p-button-rounded p-button-warning" style="width: 100%;" (click)="register()"></button>
        </div>
    </p-card>
</div>